In [13]:
import os

folder_pwd = os.getcwd()
os.chdir('..')
os.chdir('../resources')
resources_path = os.getcwd()
os.chdir(folder_pwd)

In [14]:
image_folder = "/images/1"
csv_folder = '/images/CSVs'

files = os.listdir(resources_path+csv_folder)
csv_file = []
for f in files:
    csv_file.append(f)

# Read CSVs

In [15]:
%%time
from csv import reader
import pandas as pd
import numpy as np

def read_csv(file_name):
    return pd.read_csv(resources_path+csv_folder+'/'+file_name, names=['type','from_x','from_y','width', 'height', 'name', 'full_width', 'full_height'])

df = pd.DataFrame()
for f in csv_file:
    df = df.append(read_csv(f)).reset_index(drop=True)

Wall time: 28 ms

In [16]:
import random
images = 3000
sections_per_image = 2

selected = set()

selected = random.sample(os.listdir(resources_path+image_folder), min(images, len(os.listdir(resources_path+image_folder))))

xs = np.random.randint(low=200, high=600, size=(len(selected)*sections_per_image))
ys = np.random.randint(low=200, high=400, size=(len(selected)*sections_per_image))
size = np.random.randint(low=50, high=200, size=(len(selected)*sections_per_image))

data = pd.DataFrame({'type': ['none']*len(selected)*sections_per_image, 'from_x': xs, 'from_y': ys,'width':size, 'height': size, 'name': list(selected)*2})
data['full_width'] = 480
data['full_height'] = 800
df1 = pd.concat([df, data])
df1

,type,from_x,from_y,width,height,name,full_width,full_height
0,Head,366,147,124,108,19150_2021-01-25_21.00_20523817.png,800,480
1,Arms,264,172,99,49,19150_2021-01-25_21.00_20523817.png,800,480
2,Head,352,147,151,125,19158_2021-01-10_19.16_191051467.png,800,480
3,Spine,294,236,90,70,19158_2021-01-10_19.16_191051467.png,800,480
4,Head,397,136,123,103,19162_2021-01-08_13.46_134330502.png,800,480
...,...,...,...,...,...,...,...,...
4273,none,598,357,185,185,20056_2021-02-21_16.51_164223758.png,480,800
4274,none,263,265,157,157,20432_2021-03-16_21.20_211056600.png,480,800
4275,none,270,367,199,199,20009_2021-02-07_17.12_171158865.png,480,800
4276,none,461,368,53,53,19575_2021-02-20_10.36_103355493.png,480,800
4277,none,373,328,119,119,20162_2021-02-16_15.47_15477385.png,480,800

In [17]:
cols = np.delete(df1.columns.values,[0, 5])
df1[cols] = df1[cols].apply(pd.to_numeric)
df2 = df1.drop(columns=['full_width', 'full_height'])
df2

,type,from_x,from_y,width,height,name
0,Head,366,147,124,108,19150_2021-01-25_21.00_20523817.png
1,Arms,264,172,99,49,19150_2021-01-25_21.00_20523817.png
2,Head,352,147,151,125,19158_2021-01-10_19.16_191051467.png
3,Spine,294,236,90,70,19158_2021-01-10_19.16_191051467.png
4,Head,397,136,123,103,19162_2021-01-08_13.46_134330502.png
...,...,...,...,...,...,...
4273,none,598,357,185,185,20056_2021-02-21_16.51_164223758.png
4274,none,263,265,157,157,20432_2021-03-16_21.20_211056600.png
4275,none,270,367,199,199,20009_2021-02-07_17.12_171158865.png
4276,none,461,368,53,53,19575_2021-02-20_10.36_103355493.png
4277,none,373,328,119,119,20162_2021-02-16_15.47_15477385.png

In [18]:
print(df2['type'].unique())

df2 = df2.replace({'Head':'head','Arms':'arm','Spine ':'spine','Legs':'leg','Feet':'foot','Spine':'spine', 'Hands':'hand'})
print(df2['type'].unique(), df2.groupby('type').count()['from_x'])
df2

['Head' 'Arms' 'Spine ' 'Hands' 'Legs' 'Feet' 'Spine' 'none' 'head' 'hand'
 'foot' 'spine' 'arm' 'leg']
['head' 'arm' 'spine' 'hand' 'leg' 'foot' 'none'] type
arm        81
foot       18
hand      134
head     1366
leg        30
none     4700
spine     410
Name: from_x, dtype: int64

,type,from_x,from_y,width,height,name
0,head,366,147,124,108,19150_2021-01-25_21.00_20523817.png
1,arm,264,172,99,49,19150_2021-01-25_21.00_20523817.png
2,head,352,147,151,125,19158_2021-01-10_19.16_191051467.png
3,spine,294,236,90,70,19158_2021-01-10_19.16_191051467.png
4,head,397,136,123,103,19162_2021-01-08_13.46_134330502.png
...,...,...,...,...,...,...
4273,none,598,357,185,185,20056_2021-02-21_16.51_164223758.png
4274,none,263,265,157,157,20432_2021-03-16_21.20_211056600.png
4275,none,270,367,199,199,20009_2021-02-07_17.12_171158865.png
4276,none,461,368,53,53,19575_2021-02-20_10.36_103355493.png
4277,none,373,328,119,119,20162_2021-02-16_15.47_15477385.png

# Small correction before extraction

In [19]:
%%time
def center_in_square(row):
    diff = row['width'] - row['height']
    if diff > 0:
        row['from_y'] -= int(abs(diff)/2)
        row['height'] = row['width']
    elif diff<0:
        row['from_x'] -= int(abs(diff)/2)
        row['width'] = row['height']
    return row

df2 = df2.apply(center_in_square, axis=1)

neg1 = df2['from_x']<0
neg2 = df2['from_y']<0
to_remove = np.logical_or(neg1, neg2)
df2 = df2[~to_remove]

df2['to_x'] = df2['from_x'] + df2['width']
df2['to_y'] = df2['from_y'] + df2['height']
df2

Wall time: 278 ms

,type,from_x,from_y,width,height,name,to_x,to_y
0,head,366,139,124,124,19150_2021-01-25_21.00_20523817.png,490,263
1,arm,264,147,99,99,19150_2021-01-25_21.00_20523817.png,363,246
2,head,352,134,151,151,19158_2021-01-10_19.16_191051467.png,503,285
3,spine,294,226,90,90,19158_2021-01-10_19.16_191051467.png,384,316
4,head,397,126,123,123,19162_2021-01-08_13.46_134330502.png,520,249
...,...,...,...,...,...,...,...,...
4273,none,598,357,185,185,20056_2021-02-21_16.51_164223758.png,783,542
4274,none,263,265,157,157,20432_2021-03-16_21.20_211056600.png,420,422
4275,none,270,367,199,199,20009_2021-02-07_17.12_171158865.png,469,566
4276,none,461,368,53,53,19575_2021-02-20_10.36_103355493.png,514,421
4277,none,373,328,119,119,20162_2021-02-16_15.47_15477385.png,492,447

# Extract subsections

In [20]:
%%time
import cv2

def extract_subsection(row):
    img = cv2.imread(resources_path+image_folder+'/'+row['name'], 0)
    
    if img is None:
        return np.nan
    
    subsect = img[row['from_y']:row['to_y'], row['from_x']:row['to_x']]
    # In case the crop was near an edge, creating the square could make it go outside image
    if subsect.shape[0] != subsect.shape[1]:
        diff = subsect.shape[0] - subsect.shape[1]
        if diff<0:
            subsect = np.pad(subsect, ((0, abs(diff)),(0,0)),constant_values=0)
        else:
            subsect = np.pad(subsect, ((0, 0),(0, abs(diff))),constant_values=0)
    return subsect

df2['subsection'] = df2.apply(extract_subsection, axis=1)
df2 = df2.dropna()
df2

Wall time: 28.4 s

,type,from_x,from_y,width,height,name,to_x,to_y,subsection
0,head,366,139,124,124,19150_2021-01-25_21.00_20523817.png,490,263,"[[40, 48, 58, 58, 58, 55, 53, 61, 75, 86, 90, ..."
1,arm,264,147,99,99,19150_2021-01-25_21.00_20523817.png,363,246,"[[48, 36, 28, 25, 18, 12, 12, 15, 15, 15, 14, ..."
2,head,352,134,151,151,19158_2021-01-10_19.16_191051467.png,503,285,"[[155, 146, 141, 148, 154, 154, 152, 147, 144,..."
3,spine,294,226,90,90,19158_2021-01-10_19.16_191051467.png,384,316,"[[53, 51, 47, 51, 55, 60, 66, 72, 73, 71, 74, ..."
4,head,397,126,123,123,19162_2021-01-08_13.46_134330502.png,520,249,"[[115, 119, 123, 132, 131, 136, 141, 141, 137,..."
...,...,...,...,...,...,...,...,...,...
4273,none,598,357,185,185,20056_2021-02-21_16.51_164223758.png,783,542,"[[29, 32, 26, 25, 23, 23, 25, 28, 30, 30, 31, ..."
4274,none,263,265,157,157,20432_2021-03-16_21.20_211056600.png,420,422,"[[130, 152, 170, 182, 197, 207, 208, 213, 212,..."
4275,none,270,367,199,199,20009_2021-02-07_17.12_171158865.png,469,566,"[[155, 158, 164, 162, 151, 137, 127, 110, 83, ..."
4276,none,461,368,53,53,19575_2021-02-20_10.36_103355493.png,514,421,"[[37, 39, 38, 37, 34, 35, 40, 45, 50, 54, 56, ..."
4277,none,373,328,119,119,20162_2021-02-16_15.47_15477385.png,492,447,"[[23, 22, 22, 20, 22, 26, 28, 26, 22, 19, 19, ..."

# Save image to appropriate folder

In [21]:
df2 = df2.reset_index(drop=True)
print(df2.iloc[123].name)

123

In [22]:
%%time
from matplotlib import pyplot
from pathlib import Path


def save_subsection(row):
    path = resources_path+'/features/'+row['type']
    Path(path).mkdir(parents=True, exist_ok=True)
    pyplot.imsave(path+'/'+str(row.name)+'~'+row['name'], row['subsection'])

df2.apply(save_subsection, axis=1)

Wall time: 49.2 s

0       None
1       None
2       None
3       None
4       None
        ...
6726    None
6727    None
6728    None
6729    None
6730    None
Length: 6731, dtype: object